@{
  Layout = "_Layout";
}

@model Restaurant_Listing.Models.Restaurant

<h4>Add a new item</h4>
@using (Html.BeginForm())
{
  <div>@Html.LabelFor(model => model.Name)</div>
  <div>@Html.TextBoxFor(model => model.Name)</div>
  <div>@Html.LabelFor(model => model.Description)</div>
  <div>@Html.TextBoxFor(model => model.Description)</div>
  <div>@Html.LabelFor(model => model.Cuisine)</div>
  <div>@Html.DropDownList("CuisineId")</div>

  <button class="green" type="submit">Add Restaurant</button>
}

<a href='@Url.Action("Index")'>
  <button>Exit Without Saving</button>
</a>