@{
  Layout = "_Layout";
}

@model Restaurant_Listing.Models.Cuisine
@using Restaurant_Listing.Models

<h2>Cuisine Details</h2>
<hr />

@if (@Model.Restaurants.Count == 0)
{
  <h3>No restaurants have been added to this cuisine yet!</h3>
} 
else
{
  <h3>@Html.DisplayFor(model => model.Name) Restaurants:</h3>
  <ul>
    @foreach (Restaurant restaurant in Model.Restaurants)
    {
      <h3>Name: @restaurant.Name</h3>
      <h3>Description: @Html.DisplayFor(model => restaurant.Description)</h3>

      @* <li>@Html.ActionLink($"{restaurant.Description}", "Details", "Restaurants", new { id = restaurant.RestaurantId })</li> *@
    }
  </ul>
}

<a href='@Url.Action("Edit", new { id = Model.CuisineId })'>
  <button>Edit</button>
</a>
<a href='@Url.Action("Delete", new { id = Model.CuisineId })'>
  <button>Delete</button>
</a>
<a href='@Url.Action("Index")'>
  <button>Back to list</button>
</a>